@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-color: #000000;
  --background-color: #fff;
} */

/* Forced dark mode */
/* @media (prefers-color-scheme: dark) { */
:root {
  --foreground-rgb: #fff;
  --background-rgb: #000;
  --max-width: 1440px;
  --header-max-width: 1380px;
}
/* } */

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
